
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="justify-content-center d-flex">
        <%= image_tag("logo-alfacon-footer.png", class: "img-footer")%>
      </div>
      <div class="justify-content-center d-flex">
        <p class="text text-name">AlfaCon Concursos Públicos</p>
      </div>
      <div class="justify-content-center d-flex">
        <p class="text social-text">Siga-nos nas redes sociais:</p>
      </div>
      <div class="justify-content-center d-flex">
        <%= image_tag("facebook-logo.png", class:"social-icons") %>
        <%= image_tag("linkedin-logo.png", class:"social-icons") %>
        <%= image_tag("instagram-logo.png", class:"social-icons") %>
      </div>
    </div>
  </div>
</div>