<div class="header">
  <div class="container">
    <div class="row">
        <div class="col-2 header-item logo">
          <%= link_to root_path do %>
            <%= image_tag("logo-alfacon.png") %>
          <% end %>
        </div>
        <div class="col-1 header-item">
        </div>
        <div class="col-5 header-item">
          <input type="text" class="input" placeholder="Buscar aqui">
        </div>
        <div class="col-2 header-item">
          <button class="button"></button>
        </div>
        <div class="col-2 header-item">
          <button class="button"></button>
        </div>
    </div>
  </div>
</div>
